<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
</head>
<body>
<!--<text th:text="${user.id}">累</text>-->
<form method="post">
    <table class="dv-table" style="width:100%;background:#fafafa;padding:5px;margin-top:5px;">
        <tr>
            <td>First Name</td>
            <td><input name="firstname"    class="easyui-validatebox" required="true"></input></td>
            <td>Last Name</td>
            <td><input name="lastname"  class="easyui-validatebox" required="true"></input></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input name="phone" ></input></td>
            <td>Email</td>
            <td><input name="email" class="easyui-validatebox" validType="email"></input></td>
        </tr>
    </table>
    <div style="padding:5px 0;text-align:right;padding-right:30px">

<!--<input  type="button" th:value="${user.id}" onclick="saveItem(this.value)">保存</input>-->
        <a href="#" class="easyui-linkbutton" th:value="${user.id}"  iconCls="icon-save" plain="true" onclick="saveItem(this.getAttribute('value'))">保存</a>
        <!--<a href="#" class="easyui-linkbutton" th:value="${user.id}"  iconCls="icon-save" plain="true" onclick="saveItem(2)">保存</a>-->

        <!--<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="cancelItem(<?php echo $_REQUEST['index'];?>)">Cancel</a>-->
    </div>
</form>




</body>
</html>